
:root{
	--primary-color:rgb(229,9,20);
	--dark-color:rgba(0, 0, 0, 0.8);
	--white-color:#fff;
}

body{
	position:relative;
}

body::after{
	content:'';
	min-height: 100vh;
	background-image:linear-gradient(
		to top,
	 rgba(0, 0, 0, 0.8) 0,
	 rgba(0, 0, 0, 0) 60%, 
	 rgba(0, 0, 0, 0.8) 100%), 
	 url(../images/bg.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-1;
	filter:blur(2px);

}
.logo{
    width: 9.25rem;
    height: 2.5rem;
    display: block;
}
.logo img{
	display:inline-block;
	width:100%;
	object-fit: cover;
}
.btn.btn-primary.btn-large.nfx-btn{
	background-color:var(--primary-color);
}

.btn.nfx-btn,
.btn.nfx-btn:active,
.btn.nfx-btn:focus,
.btn.nfx-btn:hover{
	background-color:var(--primary-color);
	border-color:var(--primary-color);
	box-shadow: none !important;
	border:0;
	
	
}
.btn.nfx-btn-dark,
.btn.nfx-btn-dark:active,
.btn.nfx-btn-dark:focus,
.btn.nfx-btn-dark:hover{
	background-color:var(--dark-color) !important;
	border-color:var(--dark-color) !important;
	box-shadow: none !important;
}
.card.movieCard figure img{
	width:100%;
	height:100%;
	object-fit: cover;
}
.card.movieCard{
	border: 0px;
	margin-bottom:20px;

	
}
.card.movieCard figure{
	height: 350px;
	transition:all 0.4s ease-in-out;
	position:relative;	
}
.card.movieCard figcaption{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	padding: 20px;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8)0, rgba(0, 0, 0, 1)100%);
	color:#fff;
	opacity:0;
	transition:all .4s ease-in-out;

	

}

.card.movieCard:hover figure{
	transform:scale(1.10);
}
.card.movieCard:hover figcaption{
	opacity:1;
}
.backDrop{
	position:fixed;							
	height:100vh;
	width:100%;
	top:0;
	left:0;
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
	
}

.movieModal{
	position:fixed;
	background-color: #fff;
	height: 300px;				
	width:60%;
	top:10%;
	left:20%;
	display: none;

}
.backDrop.visible{
	display: block;
	animation: fadeIn .35s ease-in-out ;
}
.movieModal.visible{
	display: block;
	animation: slideDown .5s ease-in-out;
}
.movieModal .card-header .movieClose{
	font-size: 24px;
}
.movieClose{
	cursor:pointer;
}
@keyframes fadeIn {
	from {
		
		opacity:0;
	}
	to{
	
		opacity:1;
	}
}

@keyframes slideDown {
	from {
		margin-top:-80px;
		opacity:0;
	}
	to{
		margin-top: 0;
		opacity:1;
	}
}
figcaption{
	height:100%;
	
}

.content{
	text-overflow: ellipsis;
	white-space: wrap;
	overflow-y: scroll;
	width: 100%;
	height:60%;
}
